.toolbar-title {
  color: color(primary);
}

.toolbar .toolbar-background {
  background-color: color(secondary);
}

.navbar-right-icon {
  position: absolute;
  right: 10px;
}

.block-like {
  display: block;
  text-align: right;
}

.block-like__icon {
  padding-right: 5px;
  color: color(secondary);
}

@keyframes to-active {
    0%   {font-size: inherit;color: color(secondary);}
    25%  {font-size: 24px;color: color(danger);}
    50%  {font-size: 14px;}
    75%  {font-size: 20px;}
    100% {font-size: inherit;color: color(primary);}
}

.block-like__icon--active {
  color: color(primary);
  animation-name: to-active;
  animation-duration: 1s;
}

.block-like__text {
  font-size: 15px;
  font-weight: bold;
  color: color(primary);
}

.name__real-name {
  font-size: 12px;
  color: color(secondary);
}

.user-rating {
  flex-direction: 'column';
  justify-content: 'flex-end';
  margin-top: 5px!important;
}

.user-rating--text {
  font-size: 10px;
  color: color(secondary);
  text-align: right;
}
